table {
    border-collapse: collapse;
    margin: 0.05em;
    border: solid var(--sd-color-border) var(--sd-length-border);
    color: var(--sd-color-text);
    background-color: var(--sd-color-background);
    transition: color, background-color var(--sd-time-normal);
}

thead {
    color: var(--landsoul-text);
    background-color: var(--sd-color-secondary);
}
tbody tr {
    background-color: var(--sd-color-background);
}

tbody tr:nth-child(2n) {
    background-color: var(--sd-color-border);
}

td,
th {
    padding: 0.25em 0.5em;
}
