/* https://developer.mozilla.org/zh-CN/docs/Web/CSS/CSS_Types */

:root {
    /* color */
    --sd-color-text: #fff;
    --sd-color-background: #9999ff;
    --sd-color-border: #eee;
    --sd-color-alert: #ffff00;
    --sd-color-disabled: #eee;
    --sd-color-shadow: #ccc;
}

:root {
    /* length */
    --sd-length-radius: 0.85em;
    --sd-length-border: 2px;
    --sd-length-padding: 0.2em 0.4em;
}

