/* https://developer.mozilla.org/zh-CN/docs/Web/CSS/CSS_Types */

:root {
    /* color */
    --sd-color-text: #263238;
    --sd-color-text-reverse: #fefefe;
    --sd-color-primary: #b3e5fc;
    --sd-color-secondary: #f5faff;
    --sd-color-border: #eeeeee;
    --sd-color-border-active: #e0e0e0;
    --sd-color-alert: #fff9c4;
    --sd-color-disabled: #000; /*unset*/
    --sd-color-shadow: rgba(0, 0, 0, 0.2);

    /* length */
    --sd-length-radius: 0.85em;
    --sd-length-border: 2px;
    --sd-length-padding-x: 0.5em;
    --sd-length-padding-y: 0.3em;
    --sd-length-padding: var(--sd-length-padding-y) var(--sd-length-padding-x);

    /* time */
    --sd-time-fast: 0.15s;
    --sd-time-normal: 0.3s;
    --sd-time-slow: 0.45s;
}
